<!DOCTYPE html>
<html>
<head>
  <title>FbPayments</title>
  <%= stylesheet_link_tag    "fb_payments/application", media: "all" %>
  <%= javascript_include_tag "fb_payments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
