<!DOCTYPE html>
<html>
<head prefix=
              "og: http://ogp.me/ns#
     fb: http://ogp.me/ns/fb#
     product: http://ogp.me/ns/product#">
  <meta property="og:type"         content="og:product" />
  <meta property="og:title"        content="Slide" />
  <meta property="og:plural_title" content="Slides" />
  <meta property="og:image"        content="http://<%= ENV['API_HOST'] %>/package_16.png" />
  <meta property="og:description"  content="Keep your presentation going with more slides!" />
  <meta property="og:url"          content="http://<%= ENV['API_HOST'] %>/products/slides" />
  <% @prices.each do |currency, price| %>
      <meta property="product:price:amount"   content="<%= price %>"/>
      <meta property="product:price:currency" content="<%= currency %>"/>
  <% end %>
</head>
</html>
