<!DOCTYPE html>
<html>
<head prefix=
              "og: http://ogp.me/ns#
     fb: http://ogp.me/ns/fb# 
     product: http://ogp.me/ns/product#">
  <meta property="og:type"         content="og:product" />
  <meta property="og:title"        content="<%= @package.name %>"/>
  <meta property="og:plural_title" content="<%= @package.name%>"/>
  <meta property="og:image"        content="http://<%= ENV['API_HOST'] %>/money.jpg" />
  <meta property="og:description"  content="<%= @package.description%>" />
  <meta property="og:url"          content="http://<%= ENV['API_HOST'] %>/products/<%= @package %>" />
  <% @prices.each do |currency, price| %>
      <meta property="product:price:amount"   content="<%= price %>"/>
      <meta property="product:price:currency" content="<%= currency %>"/>
  <% end %>
  <title><%= @package.name%> AnonyMoney</title>
</head>
</html>
