
<!DOCTYPE html>
<html>
<head prefix=
              "og: http://ogp.me/ns#
     fb: http://ogp.me/ns/fb#
     product: http://ogp.me/ns/product#">
  <meta property="og:type"         content="og:product" />
  <meta property="og:title"        content="<%= @quantity %> <%=@quantity > 1 ?  @product.name.pluralize :  @product.name %>" />
  <meta property="og:plural_title" content="<%= @quantity %> <%= @product.name.pluralize%>" />
  <meta property="og:image"        content="<%=URI.join(request.url, @product.image.url(:original)) %>" />
  <meta property="og:description"  content="Buy <%= @quantity %> <%=@quantity > 1 ?  @product.name.pluralize :  @product.name%>!" />
   <meta property="og:url"          content='<%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%>' />
      <meta property="product:price:amount"   content="<%=@quantity.to_i * @product.cost.to_f %>"/>
      <meta property="product:price:currency" content="<%= "USD" %>"/>

</head>
</html>

